/* IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
/* ******* */
/* VARIABLES */
/* ********* */
/* MODULES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* ******* */
*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
  background-color: white;
  font-family: 'Roboto';
}

html.sr .load-hidden {
  visibility: hidden;
}

section {
  width: 100%;
  padding: 0 10%;
}

h1 {
  font-size: 3rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  padding-bottom: .8rem;
  border-bottom: 2px solid goldenrod;
}

p, a {
  color: black;
}

button {
  padding: 1rem 1.5rem;
  background: black;
  color: white;
  font-size: 2rem;
  border: 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.socials svg {
  width: 3.2rem;
  height: 3.2rem;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.socials svg:hover {
  fill: white;
  background: black;
}

.socials .linkedin {
  margin-right: 1rem;
}

.shadow-in {
  -webkit-box-shadow: inset -5px -5px 30px 5px rgba(0, 0, 0, 0.35);
  box-shadow: inset -5px -5px 30px 5px rgba(0, 0, 0, 0.05);
}

/* HEADER */
header {
  z-index: 10;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
}

header .logo,
header .menu-toggle {
  z-index: 20;
}

header .logo {
  display: block;
  width: 6rem;
}

header .white .hamburger,
header .white .hamburger::before,
header .white .hamburger::after {
  background: white !important;
}

header .white svg {
  fill: white;
}

header .menu-toggle {
  z-index: 21;
  background-color: transparent;
  padding: 1.5rem 0;
  cursor: pointer;
}

header .menu-toggle:focus {
  outline: black;
}

header .menu-toggle .hamburger {
  display: block;
  position: relative;
}

header .menu-toggle .hamburger,
header .menu-toggle .hamburger::before,
header .menu-toggle .hamburger::after {
  width: 3rem;
  height: 3px;
  background: black;
  -webkit-transition: opacity 200ms linear, -webkit-transform 350ms ease-in-out;
  transition: opacity 200ms linear, -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, opacity 200ms linear;
  transition: transform 350ms ease-in-out, opacity 200ms linear, -webkit-transform 350ms ease-in-out;
}

header .menu-toggle .hamburger::before,
header .menu-toggle .hamburger::after {
  content: '';
  position: absolute;
  left: 0;
}

header .menu-toggle .hamburger::before {
  bottom: .8rem;
}

header .menu-toggle .hamburger::after {
  top: .8rem;
}

header .menu-container {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
  -webkit-transition: 650ms ease-in-out;
  transition: 650ms ease-in-out;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  padding-right: 1rem;
  overflow: hidden;
  text-align: right;
  background-color: #f3eadc;
}

header .menu-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80%;
}

header .menu-container .menu .year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu-container .menu .year h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 900;
  position: relative;
  /* Line under the title */
}

header .menu-container .menu .year h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1px;
  background-color: black;
}

header .menu-container .menu-contact a {
  font-size: 2.4rem;
  text-decoration: none;
  position: relative;
  padding-bottom: .3rem;
}

header .menu-container .menu-contact a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

header .menu-container .menu-contact .socials {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .menu-container .menu-contact .socials svg:hover {
  fill: #f3eadc;
}

header .menu-container .menu .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

header .menu-container .menu .nav-list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
}

header .menu-container .menu .nav-list .nav-item .nav-link {
  font-size: 6rem;
  color: black;
  text-decoration: none;
  position: relative;
  padding-bottom: .5rem;
}

header .menu-container .menu .nav-list .nav-item .nav-link::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

header .menu-container .menu .nav-list .nav-item .nav-link:hover::after {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .menu-container .menu .nav-list .nav-item + .nav-item {
  margin-top: 2rem;
}

.menu-open .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-open .hamburger::before {
  opacity: 0;
}

.menu-open .hamburger::after {
  -webkit-transform: rotate(90deg) translate(-8px);
          transform: rotate(90deg) translate(-8px);
}

.menu-open .menu-container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.menu-open .white .hamburger,
.menu-open .white .hamburger::before,
.menu-open .white .hamburger::after {
  background-color: black !important;
}

.menu-open .white h1 {
  color: black;
}

/* ACCUEIL */
.accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.accueil .container {
  width: 100%;
  color: #353535;
}

.accueil .container h1 {
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 1rem;
}

.accueil .container h3 {
  font-size: 3.2rem;
  letter-spacing: 1px;
  margin-bottom: 4rem;
  margin-top: 0;
}

.accueil .container p {
  font-size: 2rem;
  line-height: 1.4;
  color: #6A6A6A;
}

.accueil .container p b {
  font-weight: 900;
}

/* ******* */
/* SERVICES */
.services {
  z-index: 1;
  background-color: #303030;
}

.services .container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'title' 'one' 'two' 'three' 'four';
  grid-gap: 1rem;
  padding-top: 10rem;
  padding-bottom: 14rem;
  color: white;
}

.services .container h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  margin-bottom: 3rem;
  font-size: 4rem;
  color: white;
}

.services .container .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 30rem;
}

.services .container .card h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid goldenrod;
}

.services .container .card p {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.9);
}

.services .container .two,
.services .container .three,
.services .container .four {
  margin-top: 2rem;
}

.services .container .one {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: one;
}

.services .container .two {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: two;
}

.services .container .three {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: three;
}

.services .container .four {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: four;
}

/* ******** */
/* PROJETS */
.projets {
  background-color: rgba(218, 165, 32, 0.1);
}

.projets .container {
  max-width: 40rem;
  padding-top: 10rem;
  padding-bottom: 14rem;
}

.projets .container h1 {
  margin-bottom: 4rem;
  font-size: 4rem;
  color: black;
}

.projets .container-projet .projet {
  background: white;
  -webkit-box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.1);
}

.projets .container-projet .projet:hover .projet-link img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.projets .container-projet .projet .disable {
  -webkit-filter: grayscale(1) !important;
          filter: grayscale(1) !important;
}

.projets .container-projet .projet .disable .projet-infos h2, .projets .container-projet .projet .disable .projet-infos p {
  color: grey;
  opacity: .5;
}

.projets .container-projet .projet .disable .projet-button {
  opacity: .5;
}

.projets .container-projet .projet .disable .projet-button button {
  color: grey;
}

.projets .container-projet .projet-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  text-align: left;
  width: 100%;
  height: 100%;
}

.projets .container-projet .projet-link .img-container {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.projets .container-projet .projet-link .img-container img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.projets .container-projet .projet-link .projet-infos {
  padding: 2rem;
}

.projets .container-projet .projet-link .projet-infos h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  border: 0;
}

.projets .container-projet .projet-link .projet-infos p {
  font-size: 1.9rem;
}

.projets .container-projet .projet-link .projet-button {
  padding: 2rem;
}

.projets .container-projet .projet-link .projet-button a {
  color: white;
  text-decoration: none;
}

.projets .container-projet .projet + .projet {
  margin-top: 5rem;
}

/* ******** */
/* CONTACT */
.contact .container {
  margin: 10rem 0;
}

.contact .container .renseignement {
  color: black;
}

.contact .container .renseignement h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid goldenrod;
}

.contact .container .renseignement p {
  font-size: 1.9rem;
}

.contact .container .renseignement p + p {
  margin-top: 1rem;
}

.contact .container .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.contact .container .form-group label {
  margin-bottom: .5rem;
  font-size: 2rem;
  color: black;
}

.contact .container .form-group input,
.contact .container .form-group textarea {
  padding: .5rem;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

.contact .container .form-group textarea {
  resize: none;
}

.contact .container .form .btn {
  margin-top: 2rem;
}

/* ******* */
@media (min-width: 480px) {
  .accueil .container h1 {
    font-size: 7rem;
    line-height: 0.7;
  }
  .accueil .container h3 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  .accueil .container p {
    font-size: 2rem;
    max-width: 38rem;
  }
  .services .container h1 {
    font-size: 5rem;
  }
  .services .container .card {
    max-width: 35rem;
  }
  .projets .container h1 {
    font-size: 5rem;
  }
}

@media (min-width: 768px) {
  header {
    padding: 2rem;
  }
  header .menu-container {
    padding-right: 2rem;
  }
  .accueil .container {
    margin: auto;
  }
  .accueil .container h1 {
    font-size: 9.5rem;
  }
  .accueil .container h3 {
    font-size: 4rem;
    margin-bottom: 5rem;
  }
  .accueil .container p {
    font-size: 2.2rem;
    max-width: 55rem;
    line-height: 1.6;
  }
  .services .container {
    max-width: 80rem;
    margin: auto;
        grid-template-areas: 'title title' 'one   two' 'three four';
  }
  .services .container .card {
    max-width: 35rem;
  }
  .services .container .card h2 {
    font-size: 2.8rem;
  }
  .services .container .card p {
    font-size: 1.8rem;
  }
  .services .container .two {
    margin-top: 0;
  }
  .services .container .three,
  .services .container .four {
    margin-top: 4rem;
  }
  .projets .container {
    max-width: none;
  }
  .projets .container-projet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projets .container-projet .projet {
    max-width: 32rem;
  }
  .projets .container-projet .projet + .projet {
    margin-top: 0;
  }
  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .container .renseignement {
    width: 25%;
  }
  .contact .container .form {
    max-width: 60rem;
    width: 65%;
  }
  .contact .container .form .form-group:first-child {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  header {
    padding: 3rem 4rem;
  }
  header .menu-container {
    padding-right: 4rem;
  }
  .accueil .container h1 {
    font-size: 11.5rem;
  }
  .accueil .container h3 {
    font-size: 4.5rem;
  }
  .accueil .container p {
    font-size: 2.8rem;
  }
  .accueil .container,
  .services .container,
  .projets .container,
  .contact .container {
    max-width: 100rem;
  }
  .projets .container {
    margin: auto;
  }
  .projets .container-projet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .projets .container-projet .projet {
    max-width: 32rem;
  }
  .projets .container-projet .projet + .projet {
    margin-top: 0;
    margin-left: 10rem;
  }
  .contact .container {
    margin: 10rem auto;
  }
}

@media (min-width: 1440px) {
  header .menu-container {
    padding-right: 10rem;
  }
}
/*# sourceMappingURL=main.css.map */